
<div class="row">
    <div class="col-md-6" *ngIf="teamLable">
          <select class="form-control" (change)="getTeamInformation($event)">
           <option value="">Select Team</option>
           <option *ngFor="let label of teamLable.labels">
               {{label}}
           </option> 
       </select>

       <div class="mt-2" *ngIf="players">
            <ul>
                <li *ngFor="let player of players">
                    {{player.name}}-{{player.price}}
                </li>
            </ul>
       </div>
    </div>

    <div class="col-md-6">
        chart information
    </div>
</div>